body{
    background: linear-gradient(#1a0f2e, #090014);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', serif;
    color: #fff
}

.container{
    text-align: center;
}

.envelope{
    position: relative;
    width: 260px;
    height: 180px;
    cursor: pointer
}

.corpo{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 0 0 10px 10px;
}

.tampa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #808080;
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    transform-origin: top;
    transition: transform 1s;
}

.carta{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 240px;
    min-height: 160px;
    height: auto;
    background: #f5e6c8;
    color: #000;
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s;
}

.carta p {
    white-space: pre-line;
}

.coracao {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background: #c4002f;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 6px;
    z-index: 5;
}

.coracao::before,
.coracao::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #c4002f;
    border-radius: 50%;
}

.coracao::before {
    top: -15px;
    left: 0;
}

.coracao::after {
    left: -15px;
    top: 0;
}


.envelope.aberto .tampa{
    transform: rotateX(180deg);
}

.envelope.aberto .carta{
    transform: translateY(-120px);
    opacity: 1;
}

.envelope.aberto .coracao {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: 0.6s;
}

.coracao {
    transition: 0.6s;
}

.presente {
    position: fixed;
    top: -50px;
    font-size: 40px;
    cursor: pointer;
    animation: cair linear forwards;
}

@keyframes cair {
    to {
        transform: translateY(110vh);
    }
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255,255,255,0.3);
}

.fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.modal {
    pointer-events: auto;
}

.modal[style*="display: none"] {
    pointer-events: none;
}
